

#main {
	position:fixed;
	left:0px;
	top:0px;
	width:1280px;
	height:720px;
	
	white-space:nowrap;
	overflow:hidden;
	color:#000;
	font-family: segoe ui;
	text-align:center;
	font-size:16px;
}

.playerside {
	position:absolute;
	left:0px;
	width:402px;
	height:302px;

}
#t1 {
	top:6px;
}
#t2 {
	top:417px;
}




.nickname {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:36px;
	line-height:36px;
	font-size:22px;
	vertical-align:middle;
	font-weight:bold;
	color:#000;
	transition:all .3s;
}

.nickname.hidden {
	opacity:0;
}
.nickname .team {
	color:#888;
}



.char {
	display:block;
	position:absolute;
	top:267px;
	width:26px;
	height:26px;
	background-size:contain;
	background-repeat:no-repeat;
}
.char.light {
	-webkit-filter: contrast(.8) brightness(1.4);
}
.light .char:not(.light) {
	-webkit-filter:contrast(1.2) brightness(.8);
}


#char1,
#char2 {
	left:50px;
}
#char12,
#char22 {
	right:50px;
}



.flag {
	position:absolute;
	top:267px;
	width:36px;
	height:24px;
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
	border-radius:1px;
	border:1px solid #000;
}

#flag1,
#flag2 {
	left:4px;
}
#flag12,
#flag22 {
	right:4px;
}




.state {
	position:absolute;
	bottom:11px;
	right:98px;
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	opacity:1;
	letter-spacing:0px;
	text-shadow:0px 0px 3px #000,0px 0px 3px #000,0px 0px 3px #000,0px 0px 3px #000;
}

.state .winners,
.state .losers {
	display:none;
}

.state.winners .winners,
.state.losers .losers {
	display:block;
}



.score {
	position:absolute;
	left:90px;
	right:200px;
	bottom:0px;
	text-align:left;
	transform:skew(-25deg);
}
.score .item {
	display:inline-block;
	width:16px;
	opacity:0.5;
	height:24px;
	background:rgba(225,225,225,0.4);
	border:2px solid #000;
}
.score .item.hidden {
	display:none;
}

.score .item.active {
	opacity:1;
	background:#fff;
}



#roundinfo {
	position:absolute;
	left:710px;
	right:310px;
	top:10px;
	height:22px;
	line-height:22px;
	vertical-align:middle;
	font-size:14px;
	font-weight:bold;
	color:#000;
	border:2px solid #000;
	background:#fff;
	text-align:center;
	text-transform:uppercase;
	overflow:hidden;
}
#bracket,
#round {
	position:absolute;
	left:0px;
	right:0px;
	transition:.5s;
}
#bracket {
	transform:translateY(-30px);
}
#round {
	transform:translateY(30px);
}
#bracket.visible,
#round.visible {
	transform:translateY(0px);
}


#sponsors {
	position:absolute;
	left:25px;
	top:309px;
	width:126px;
	height:96px;
	background:rgba(90,90,90,1);
	border:2px solid #000;
}
#sponsors:before {
	content:'';
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	border:1px solid #fff;
}
#sponsors .item {
	position:absolute;
	left:15px;
	right:15px;
	top:15px;
	bottom:15px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:50% 50%;
	opacity:0;
	transition:opacity .5s;
}