	 
#main {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	color:#000;
	font-family: segoe ui;
}


#upper {
	position:absolute;
	left:100px;
	right:100px;
	top:450px;
	text-shadow:5px 5px 1px rgba(0,0,0,0.3);
	text-transform:uppercase;
	font-size:70px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#lower {
	position:absolute;
	left:100px;
	right:100px;
	top:530px;
	text-shadow:5px 5px 1px rgba(0,0,0,0.3);
	text-transform:uppercase;
	font-size:50px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	
}

#countdown {
	position:absolute;
	left:100px;
	right:100px;
	top:600px;
	text-shadow:5px 5px 1px rgba(0,0,0,0.3);
	text-transform:uppercase;
	font-size:50px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#countdown span {
	display:inline-block;
	width:62px;
	text-align:center;
}
